#re-widget {
    position: fixed;
    bottom: 2%;
    right: 4%;
    font-family: 'Lato', sans-serif;
    z-index: 10000;
}

.re-widget-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: 350px;
    border: none;
    border-radius: 20px;
}

.re-widget-header {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    position: relative;
    height: 36px;
}

.re-widget-title {
    color: #ffffff;
    background-color: black;
}

.re-widget-title p {
    text-align: center;
    margin: 0;
    padding: 15px 10px 15px 10px;
    font-size: 20px;
}

.re-widget-client-icon {
    height: 29px;
    width: 29px;
    padding: 5px 0px 2px 5px;
}

.re-widget-body {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: center;
    border-left: 5px solid black;
    border-right: 5px solid black;
    padding: 10px 0 10px 0;
}

.re-widget-body p {
    display: flex;
    align-self: center;
}

.re-widget-btn-wrapper-f1 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
}

.re-widget-btn-wrapper-f2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.re-widget-btn-category {
    height: auto;
    /* flex-basis: 40%; */
    width: auto;
    position: relative;
    padding: 1px 6px;
    margin: 5px;
    /* border-style: none; */
    background-color: white;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
}

.re-widget-active-like {
    background-color: rgba(73, 173, 137, 1);
}

.re-widget-active-dont {
    background-color: rgba(245, 186, 53, 1);
}

.re-widget-btn-category:focus {
    outline: 0;
}

.re-widget-btn-like,
.re-widget-btn-dont {
    border-radius: 15%;
    width: 87px;
    height: 95px;
    padding: 2px;
    position: relative;
    border-style: none;
    cursor: pointer;
}

.re-widget-btn-like {
    background-color: rgba(73, 173, 137, 0.2);
}

.re-widget-btn-dont {
    background-color: rgba(245, 186, 53, 0.2);
}

.re-widget-btn-like:focus,
.re-widget-btn-dont:focus {
    outline: 0;
}

.re-widget-img-like,
.re-widget-img-dont {
    pointer-events: none;
    height: 100%;
    width: 100%;
}

.re-widget-footer {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 1);
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.re-widget-footer p {
    margin: 0;
    padding: 4px;
}

.re-widget-footer p a {
    text-decoration: none;
    color: black;
}

.re-widget-footer p a:visited {
    color: inherit;
}

.re-widget-nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px 10px 80px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.re-widget-nav-wrapper button {
    border-radius: 20px;
    cursor: pointer;
}

.re-widget-nav-wrapper button:focus {
    outline: 0;
}

.re-widget-btn-next,
.re-widget-btn-submit,
.re-widget-btn-back {
    color: black;
    font-size: 16px;
    width: 70px;
    border: none;
    position: relative;
}

.re-widget-btn-next img,
.re-widget-btn-back img {
    width: 10.35px;
    height: 13.59px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.re-widget-btn-next img {
    right: 0px;
}

.re-widget-btn-back img {
    left: 0px;
}

.re-widget-input-container-f3 {
    margin: 0 auto;
}

.re-input-wrapper-f3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.re-widget-input-comments {
    height: auto;
    flex-basis: 100%;
    width: 299px;
    position: relative;
    padding: 8px;
    margin: 5px;
    border-style: none;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: 12px;
}

.re-widget-input-comments {
    resize: none;
    min-height: 117px;
}

.re-widget-input-comments:focus {
    outline: 0;
}

.re-widget-link-container-f4 {
    margin: 0 auto;
}

.re-link-wrapper-f4 {
    display: flex;
    flex-wrap: wrap;
}

.re-link-wrapper-f4 div {
    display: flex;
    flex-direction: column;
    flex: 1 0 21%;
    text-align: center;
    margin: 10px;
}

.re-link-wrapper-f4 div a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(77, 156, 224, 0.5);
    width: 86px;
    height: 70px;
}

.re-link-wrapper-f4 div a:visited {
    color: inherit;
    text-decoration: none;
}

.re-link-wrapper-f4 div p {
    font-size: 12px;
    margin-top: 2px;
    color: black;
}

.re-link-wrapper-f4 a img {
    position: absolute;
    top: 6.5px;
    left: 14.5px;
    width: 57px;
    height: 57px;
    pointer-events: none;
}

.re-widget-exit-button {
    position: absolute;
    top: -18px;
    right: -18px;
    border: none;
    margin: auto;
    height: 32px;
    width: 32px;
    background-color: transparent;
}

.re-widget-exit-button:focus,
.re-widget-exit-button:active {
    outline: 0;
}

.re-widget-exit-button img {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
    width: inherit;
    pointer-events: none;
}