
body {
    font-family: quatro, sans-serif;
}

.contact-form {
    width: 90%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 85%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
    background-color: #A4CBCC;
}

*:focus {outline: none;}

.form-box {
    position: absolute;
    width: 85%;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    height: 630px;
    padding-top: 40px;
}

.form-messages {
    width: 70%;
    padding: 10px;
    border-radius: 3px;
    margin: 0 auto 30px;
    color: #333;
}


#btnSubmit {
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 20px;
}


#btnSubmit:link,
#btnSubmit:visited,
input[type=submit] {
    text-decoration: none;
    background-color: black;
    border: 2px solid black;
    color: #fff;
    /*transition: background-color 0.2s, border 0.2s, color 0.2s;*/
}


#btnSubmit:hover,
#btnSubmit:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #A4CBCC;
    transition: ease-in, 0.5s;
}






