#re-widget {
    position: fixed;
    bottom: 2%;
    right: 4%;
    font-family: 'Lato', sans-serif;
    z-index: 10000;
}

#re-widget.is-hidden {
    display: none;
}

.re-widget-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: 300px;
    border: none;
    border-radius: 25px;
}

.re-widget-header p,
.re-widget-body p {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 12px;
}

.re-widget-footer p {
    margin: 0;
    padding: 6px;
}

.re-widget-footer p a {
    font-size: 10px;
    text-decoration: none;
}

.re-widget-header {
    background-color: #4d9ce0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #ffffff;
    /* position: relative; */
}

p.re-widget-fb-prompt {
    margin-top: 5px;
}

.re-widget-body {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: center;
}

.re-widget-body p {
    display: flex;
    align-self: center;
}

.re-widget-btn-wrapper-f1 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
}

.re-widget-btn-container-f2 {
    max-width: 300px;
    margin: 0 auto;
}

.re-widget-btn-wrapper-f2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.re-widget-btn-category {
    height: auto;
    flex-basis: 40%;
    width: auto;
    position: relative;
    padding: 8px;
    margin: 5px;
    border-style: none;
    background-color: rgba(77, 156, 224, 0.8);
    color: black;
    border-radius: 2px;
    cursor: pointer;
}

.re-widget-btn-category:focus {
    outline: 0;
}

.re-widget-btn-like,
.re-widget-btn-dont {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    border-style: none;
    cursor: pointer;
}

.re-widget-btn-like:focus,
.re-widget-btn-dont:focus {
    outline: 0;
}

.re-widget-img-like,
.re-widget-img-dont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.re-widget-footer {
    font-size: 8px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.re-widget-nav-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.re-widget-nav-wrapper button {
    border-radius: 2px;
    padding: 5px 12px 5px 12px;
    cursor: pointer;
}

.re-widget-nav-wrapper button:focus {
    outline: 0;
}

.re-widget-btn-next,
.re-widget-btn-submit {
    background-color: #4d9ce0;
    color: white;
}

.re-widget-btn-back {
    background-color: white;
    color: #4d9ce0;
    border-color: #4d9ce0;
}

.re-widget-input-container-f3 {
    /* max-width: 300px; */
    margin: 0 auto;
}

.re-input-wrapper-f3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.re-widget-input-comments,
.re-widget-input-email {
    height: auto;
    flex-basis: 100%;
    width: 220px;
    position: relative;
    padding: 8px;
    margin: 5px;
    border-style: none;
    color: black;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .2);
}

.re-widget-input-comments {
    resize: none;
    min-height: 100px;
}

.re-widget-input-comments:focus,
.re-widget-input-email:focus {
    outline: 0;
}